<h1>About</h1>
<h2>I don’t live in either my past or my future. I’m interested only in the present. If you can concentrate always on the present, you’ll be a happy man. Life will be a party for you, a grand festival, because life is the moment we’re living now.</h2>
