// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#prodh1 {
  margin-bottom: 50px;
}

table, thead, tr, th {
  font-family: monospace;
  border-bottom: 1px solid;
  margin: 0 auto;
  padding: 5px;
}

table, tbody, tr, td {
  font-family: monospace;
  border-bottom: 1px solid;
  margin: 0 auto;
  padding: 5px;
}

.newprod {
  font-family: monospace;
  margin-left: 43%;
  padding-bottom: 5%;
}
